// COLOR PALETTE
$clr1: #fff;
$clr2: rgb(31, 31, 31);
$clr3: rgb(251, 251, 251);
$clr4: darken($clr3, 40%);
$clr5: #2d2d2d;
$clr6: darken($clr1, 8%);
$clr7: darken($clr1, 20%);

$introBgc: hsl(217, 28%, 15%); 
$mainBgc: hsl(218, 28%, 13%); 
$footerBgc: hsl(216, 53%, 9%); 
$testimonialsBgc: hsl(219, 30%, 18%); 
$lightTxt1: #5e6c84;
$screen: #000000a3;
$btnBg:#091e420a;
$btnBgHover: #e2e4e9;
$headerBgc: rgba(60, 60, 60, 0.574);

$headerMinHeight: 50px;

// LAYOUT
$layoutPadding: 20px;
$layout-padding-narrow: 16px;
$layout-padding-wide: 73px 80px;

// LAYOUT BREAKPOINTS
$break-narrow: 440px;
$break-normal: 960px;
$break-wide: 1440px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
